.banner {
  position: relative;

  &__item {
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex !important;
    height: 490px;
    justify-content: center;
    text-align: center;
    padding: 30px;

    @include media(">=tablet") {
      height: 415px;
    }
  }

  &__img {
    img {
      display: block;
      margin: 0 auto;
    }
  }

  &__title {
    color: color(mono, white);
    font-size: 30px;
    font-weight: fw("bold");
    line-height: 1;
    margin-bottom: 30px;
    margin-top: 5px;

    @include media(">=desktop") {
      font-size: 40px;
    }
  }

  &__shape {
    position: absolute;
    bottom: 0;
    height: 42px;
    width: 100%;
    z-index: 1;

    svg {
      bottom: 0;
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }
}