.section {
  background-color: color(gray, gallery);
  padding: 60px 0 75px;

  &__title {
    color: color(brown, old-copper);
    font-weight: fw("medium");
    font-size: 26px;
    margin-bottom: 25px;

    @include media(">=desktop") {
      font-size: 38px;
    }
  }

  &__content {
    p {
      color: color(brown, old-copper);
      font-family: $font-text;
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 25px;
    }
  }
}