$grid-gutter: 15px;

// Media Query config
// For _include-media.scss file in helpers
$breakpoints: (
  'phone':   576px,
  'tablet':  768px,
  'desktop': 992px,
  'wide':    1200px,
  'larger':  1440px
) !default;

// Z-index Depth Map config
// For _z-index.scss file in helpers
$z-depth: (
  'default':  1,
  'absolute': 100,
  'fixed':    200,
  'overlay':  300,
  'modal':    400,
) !default;