@font-face {
  font-family: 'KG Eyes Wide Open';
  src: url('../fonts/KGEyesWideOpen.eot');
  src: url('../fonts/KGEyesWideOpen.eot?#iefix') format('embedded-opentype'),
      url('../fonts/KGEyesWideOpen.woff2') format('woff2'),
      url('../fonts/KGEyesWideOpen.woff') format('woff'),
      url('../fonts/KGEyesWideOpen.ttf') format('truetype'),
      url('../fonts/KGEyesWideOpen.svg#KGEyesWideOpen') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis-Light.eot');
  src: url('../fonts/Dosis-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Dosis-Light.woff2') format('woff2'),
      url('../fonts/Dosis-Light.woff') format('woff'),
      url('../fonts/Dosis-Light.ttf') format('truetype'),
      url('../fonts/Dosis-Light.svg#Dosis-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis-Bold.eot');
  src: url('../fonts/Dosis-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Dosis-Bold.woff2') format('woff2'),
      url('../fonts/Dosis-Bold.woff') format('woff'),
      url('../fonts/Dosis-Bold.ttf') format('truetype'),
      url('../fonts/Dosis-Bold.svg#Dosis-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis-Regular.eot');
  src: url('../fonts/Dosis-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Dosis-Regular.woff2') format('woff2'),
      url('../fonts/Dosis-Regular.woff') format('woff'),
      url('../fonts/Dosis-Regular.ttf') format('truetype'),
      url('../fonts/Dosis-Regular.svg#Dosis-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis-Medium.eot');
  src: url('../fonts/Dosis-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Dosis-Medium.woff2') format('woff2'),
      url('../fonts/Dosis-Medium.woff') format('woff'),
      url('../fonts/Dosis-Medium.ttf') format('truetype'),
      url('../fonts/Dosis-Medium.svg#Dosis-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis-SemiBold.eot');
  src: url('../fonts/Dosis-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Dosis-SemiBold.woff2') format('woff2'),
      url('../fonts/Dosis-SemiBold.woff') format('woff'),
      url('../fonts/Dosis-SemiBold.ttf') format('truetype'),
      url('../fonts/Dosis-SemiBold.svg#Dosis-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis-ExtraBold.eot');
  src: url('../fonts/Dosis-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Dosis-ExtraBold.woff2') format('woff2'),
      url('../fonts/Dosis-ExtraBold.woff') format('woff'),
      url('../fonts/Dosis-ExtraBold.ttf') format('truetype'),
      url('../fonts/Dosis-ExtraBold.svg#Dosis-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis-ExtraLight.eot');
  src: url('../fonts/Dosis-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Dosis-ExtraLight.woff2') format('woff2'),
      url('../fonts/Dosis-ExtraLight.woff') format('woff'),
      url('../fonts/Dosis-ExtraLight.ttf') format('truetype'),
      url('../fonts/Dosis-ExtraLight.svg#Dosis-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
}

