@import 'vendors/all';
@import 'variables/all';
@import 'base/all';
@import 'abstracts/all';
@import 'components/all';

html, body {
  font-family: $titillium;
  height: 100%;
  margin: 0;
  padding: 0;
}

.page {
  background-color: color(gray, boulder);
  height: 100%;

  &__container {
    @extend .container;
    padding: 0;

    @include media(">=desktop") {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}